body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage-bgimage {
  background: url("https://images.unsplash.com/photo-1560359614-870d1a7ea91d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2glMjBwYXJ0eXxlbnwwfHwwfHw%3D&w=1000&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-bgimage {
  background: url(./img/activity_background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow-x: scroll;
}

.third-bgimage {
  background: url(./img/activity_background2.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow-x: scroll;
}

.signup-bgimage {
  background: url(./img/running_in_middle.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  /* overflow-x: scroll; */
}


.profilepage-bgimage {
  background: url("./img/zoomed_in_running.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginpage-bgimage {
  background: url("https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?auto=compress&cs=tinysrgb&w=1600");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .space {
  display: 'flex';
  alignItems: 'flex-end',
  float: 'right',
} */

.black-text-white-outline-2 {
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.black-text-white-outline {
  color: white;
  text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.reg-white {
  color: white;
  text-shadow: none;
}